
@{
    ViewBag.Title = "events";
}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Esteem Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //custom-theme -->

<link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!-- calendar -->
<link rel="stylesheet" href="~/Content/css/monthly.css">
<!-- //calendar -->
<link href="~/Content/css/component.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/css/style_grid.css" rel="stylesheet" type="text/css" media="all" />
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- font-awesome-icons -->
<link href="~/Content/css/font-awesome.css" rel="stylesheet">
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">


<div class="wthree_agile_admin_info">
    <!-- /inner_content-->
    <div class="inner_content">
        <!-- /inner_content_w3_agile_info-->
        <!-- breadcrumbs -->
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li><a href="~/Home/Dashboard">Home</a><span>«</span></li>
                    <li>Events </li>
                </ul>
            </div>
        </div>
        <!-- //breadcrumbs -->

        <div class="inner_content_w3_agile_info two_in">
            <h2 class="w3_inner_tittle">Calendar</h2>

            <!-- /calendar -->

            <div class="agile-calendar-grid">
                <div class="page_w3ls_cal agile_info_shadow">

                    <div class="w3l-calendar-left">
                        <div class="calendar-heading">

                        </div>
                        <div class="monthly" id="mycalendar"></div>
                    </div>

                    <div class="clearfix"> </div>
                </div>
            </div>
            <!-- //calendar -->
            <!-- /social_media-->
            <div class="social_media_w3ls">

                <div class="col-md-3 socail_grid_agile facebook">
                    <ul class="icon_w3_info">
                        <li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li>Facebook</li>
                    </ul>
                    <ul class="icon_w3_social">
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-user" aria-hidden="true"></i></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="~/Content/images/admin.jpg" alt="">
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>Hurisa Joe</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 socail_grid_agile twitter">
                    <ul class="icon_w3_info">
                        <li><a href="#" class="wthree_facebook"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li>Twitter</li>
                    </ul>
                    <ul class="icon_w3_social">
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-user" aria-hidden="true"></i></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="~/Content/images/a1.jpg" alt="">
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>Jasmin Joe</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 socail_grid_agile gmail">
                    <ul class="icon_w3_info">
                        <li><a href="#" class="wthree_facebook"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li>Google+</li>
                    </ul>
                    <ul class="icon_w3_social">
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-user" aria-hidden="true"></i></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="~/Content/images/a2.jpg" alt="">
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>John Pal</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-3 socail_grid_agile dribble">

                    <ul class="icon_w3_info">
                        <li><a href="#" class="wthree_facebook"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        <li>Dribbble</li>
                    </ul>
                    <ul class="icon_w3_social">
                        <li><i class="fa fa-comment-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"></i></li>
                        <li><i class="fa fa-user" aria-hidden="true"></i></li>
                    </ul>
                    <div class="clearfix"></div>
                    <div class="bottom_info_social">
                        <div class="col-md-4 agile_w3l_social_media_text_img">
                            <img src="~/Content/images/a4.jpg" alt="">
                        </div>
                        <div class="col-md-8 agile_w3l_social_media_text">
                            <h4>Honey Pal</h4>
                            <p>Lorem ipsum dolor sit amet</p>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="clearfix"></div>

            </div>
            <!-- //social_media-->
        </div>
        <!-- //inner_content_w3_agile_info-->
    </div>
    <!-- //inner_content-->
</div>
<!-- banner -->

<!-- js -->

<script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/modernizr.custom.js"></script>
<script src="~/Scripts/Chart.min.js"></script>
<script src="~/Scripts/amcharts.js"></script>
<script src="~/Scripts/classie.js"></script>
<script src="~/Scripts/gnmenu.js"></script>
<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
</script>
<!-- calendar -->
<script type="text/javascript" src="~/Scripts/monthly.js"></script>
<script type="text/javascript">
		$(window).load( function() {

			$('#mycalendar').monthly({
				mode: 'event',

			});

			$('#mycalendar2').monthly({
				mode: 'picker',
				target: '#mytarget',
				setWidth: '250px',
				startHidden: true,
				showTrigger: '#mytarget',
				stylePast: true,
				disablePast: true
			});

		switch(window.location.protocol) {
		case 'http:':
		case 'https:':
		// running on a server, should be good.
		break;
		case 'file:':
		alert('Just a heads-up, events will not work when run locally.');
		}

		});
</script>
<!-- //calendar -->
<!-- //js -->
<script src="~/Scripts/screenfull.js"></script>
<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}



			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
		});
</script>
<script src="~/Scripts/jquery.nicescroll.js"></script>
<script src="~/Scripts/scripts.js"></script>

<script type="text/javascript" src="~/Scripts/bootstrap-3.1.1.min.js"></script>

